    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Farmers</h2>
                <p>Millions of farmers, their families, and allies from around the country are participating in the largest protest in the world around New Delhi, India. There have now been months of protests between the farmers and the Indian government over the implementation of new agricultural laws to degregulate the farming sector. The Indian government is responding to the protests with excessive force and violating the basic human rights of the people and the press.</p>
                <p>Protesters continue to be killed, injured, and unjustly imprisoned. The peaceful protestors have been mistreated with violence, such as tear gas, sewage water and violent mobs. They have attacked doctors providing medical care. They have arrested and detained activists, protestors, and members of the press. The government has shut down the internet and blocked the social media accounts of journalists to limit the spread of information with which it disagrees </p>
                <!-- <p> </p> -->
                <!-- <p> </p> -->
            </div>

            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="timeline" class="btn btn-default btn-lg"> <span class="network-name">View Full Timeline</span></a>
                </li>
            </ul>
        </div>
    </section>